{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='admin/styles/admin_edit_anime.css') }}">
{% endblock styles %}

{% block script %}
    
    <script src="{{ static_url_for('static', filename='admin/scripts/fns.js') }}" defer></script>
    <script src="{{ static_url_for('static', filename='admin/scripts/animesub.js') }}" defer></script>
{% endblock script %}

{% block content %}

<h1>Edycja Animesub</h1>
{% for season_info, season_list in ordered_seasons.items() %}
    {{ season_table(season_info, season_list) }}
{% endfor %}

{% endblock content %}

<!-- 
Creating table for one season. Pass as arguments list of 
anime from certain season and title for heading.
-->
{% macro season_table(season_info, season_list) -%}
    {% if season_list|length %}
        <!-- Hidden forms for every anime -->
        {% for animesub in season_list %}
        <form class="display-none" id="form-anime-{{ animesub.animesub_id }}" action="{{ url_for('admin_bp.edit_animesub') }}"
            method="POST" novalidate>
        </form>
        {% endfor %}

        <h2 class="mg-bt-0">{{ season_info[1] }}</h2>

        <!-- Table with one season -->
        <table class="admin-animesub--tb" id="{{ season_info[0] }}">
            <thead>
            <tr>
                <th>Tytuł</th>
                <th>Tytuł&nbsp;na&nbsp;stronie</th>
                <th>Autor</th>
                <th>Cr_diff</th>
                <th>Cr_diff_title</th>
                <th>Edycja</th>
                <th>Usuwanie</th>
            </tr>
            </thead>
            <tbody>
                {% for animesub in season_list %}
                    <tr>

                        <!-- Anime title -->
                        <td class="overflow-break-word">
                            {{ animesub.anime.title }}
                        </td>

                        <td>
                            <!-- Hidden token -->
                            {{ edit_form.csrf_token(
                                        id="csrf_token-" + animesub.animesub_id | string,
                                        form="form-anime-" + animesub.animesub_id | string
                                        ) 
                                    }}

                            <!-- Hidden animesub_id -->
                            {{ edit_form.animesub_id(
                                        type="hidden", value=animesub.animesub_id, 
                                        id="animesub_id-" + animesub.animesub_id | string,
                                        form="form-anime-" + animesub.animesub_id | string
                                        ) }}

                            <!-- Title on site -->
                            {{ edit_form.ansi_title(
                                                autocomplete="off", value=animesub.ansi_title, 
                                                id="ansi_title-" + animesub.animesub_id | string,
                                                form="form-anime-" + animesub.animesub_id | string
                                                ) 
                            }}
                            <div class="validation-error display-none"></div>
                        </td>

                        <!-- Author -->
                        <td>
                            {{ edit_form.author(
                                                autocomplete="off", value=animesub.author, 
                                                id="author-" + animesub.animesub_id | string,
                                                form="form-anime-" + animesub.animesub_id | string
                                                ) 
                            }}
                            <div class="validation-error display-none"></div>
                        </td> 
                        
                        <!-- Cr numbering diff -->
                        <td>
                            {{ edit_form.cr_numbering_diff(
                                                autocomplete="off", value=animesub.cr_numbering_diff, 
                                                id="cr_numbering_diff-" + animesub.animesub_id | string,
                                                form="form-anime-" + animesub.animesub_id | string,
                                                min="0"
                                                ) 
                            }}
                            <div class="validation-error display-none"></div>
                        </td> 
                        
                        <!--Title without season/part number -->
                        <td>
                            {{ edit_form.cr_diff_title(
                                                autocomplete="off", value=animesub.cr_diff_title | default('', true), 
                                                id="cr_diff_title-" + animesub.animesub_id | string,
                                                form="form-anime-" + animesub.animesub_id | string,
                                                ) 
                            }}
                            <div class="validation-error display-none"></div>
                        </td>

                        <!-- Edit record button -->
                        <td>
                            {{ edit_form.submit(
                                        class="btn btn-small",
                                        id="submit-" + animesub.animesub_id | string,
                                        form="form-anime-" + animesub.animesub_id | string
                                        ) 
                            }}                                                        
                        </td>

                        <!-- Remove record button -->
                        <td>
                            <form id="del-anime-form-{{ animesub.animesub_id }}" action="{{ url_for('admin_bp.delete_animesub', animesub_id=animesub.animesub_id) }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <input class="btn btn-small btn-danger" type="submit" value="Usuń" id="del-{{ animesub.animesub_id }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{%- endmacro %}